@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

@keyframes flash {
  0%, 100% {
    filter: brightness(1.5);
    opacity: 1;
  }
  20% {
    filter: brightness(1);
    opacity: 0.9;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(0deg, #621a3b 0%, hsl(187, 100%, 6%) 100%);
}
body div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body div#root header {
  padding: 0.7rem 0;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #001d21;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
body div#root header > div.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body div#root header > div.logo > h1 {
  color: white;
}
body div#root header > div.logo > p {
  color: #cdcbcb;
  font-size: 0.8rem;
}
body div#root header > div.favorites-icon {
  scale: 1.5;
  padding: 3px 5px;
  color: #ff5722;
  align-self: center;
  margin-top: -4px;
  cursor: pointer;
  transition: transform 120ms ease-out, box-shadow 120ms ease-out;
  user-select: none;
  position: relative;
}
body div#root header > div.favorites-icon:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
  animation: flash 1s infinite;
  transform: translate(0, 1px);
}
body div#root header > div.favorites-icon:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: flash 1s infinite;
  transform: translate(0, 1px);
}
body div#root header > div.favorites-icon > span {
  display: flex;
  justify-content: center;
}
body div#root header > div.favorites-icon > span > span:nth-child(1) {
  transform: rotate(-32deg) translate(10px, 9px);
}
body div#root header > div.favorites-icon > span > span:nth-child(2) {
  transform: rotate(0deg) translate(0px, 1.9px);
}
body div#root header > div.favorites-icon > span > span:nth-child(3) {
  transform: rotate(32deg) translate(-10px, 9px);
}
body div#root header > div.favorites-icon > span.favorites-label {
  top: 15px;
  font-size: x-small;
}
body div#root > div.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex: 1;
  max-width: 80rem;
}
body div#root > div.main > div.loading {
  display: flex;
}
body div#root > div.main > div.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0;
  margin-bottom: 1rem;
}
body div#root > div.main > div.input-wrapper > input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: none;
}
body div#root > div.main > div.input-wrapper > input input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
body div#root > div.main > div.input-wrapper > span.suggestion-text {
  position: absolute;
  left: 15px;
  font-size: 16px;
  top: 10px;
  color: #999;
  pointer-events: none;
}
body div#root > div.main > div.input-wrapper > ul.suggestions-list {
  list-style: none;
  padding: 0;
  margin-top: 5px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  opacity: 0.6;
  transition: opacity 0.2s;
}
body div#root > div.main > div.input-wrapper > ul.suggestions-list > li.suggestion-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
body div#root > div.main > div.input-wrapper > ul.suggestions-list > li.suggestion-item:hover {
  background-color: #f0f0f0;
}
@media (max-width: 768px) {
  body div#root > div.main > div.input-wrapper {
    width: 90%;
  }
  body div#root > div.main > div.input-wrapper > input {
    font-size: 0.9rem;
  }
}
body div#root > div.main > ul.fotos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-rows: minmax(90px, auto);
  grid-auto-flow: row;
  grid-gap: 0.2em;
  list-style: none;
  font-size: 3rem;
}
body div#root > div.main > ul.fotos-container > li.card {
  box-shadow: 0 4px 8px #ff5722;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 0.8rem;
  transition: all 300ms ease;
  cursor: pointer;
}
body div#root > div.main > ul.fotos-container > li.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
body div#root > div.main > ul.fotos-container > li.card > img {
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}
body div#root > div.main > ul.fotos-container > li.card > button.favorite-heart {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ff5722;
  cursor: pointer;
  transition: opacity 0.4s ease, all 0.3s ease-out;
  opacity: 0;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
  background: linear-gradient(to top left, rgba(0, 0, 0, 0.5) 30%, transparent 55%);
  padding: 11px;
  border-radius: 0.8rem 0;
}
body div#root > div.main > ul.fotos-container > li.card > button.favorite-heart.active {
  opacity: 1;
}
body div#root > div.main > ul.fotos-container > li.card > button.favorite-heart:hover {
  scale: 1.1;
}
@media (max-width: 768px) {
  body div#root > div.main > ul.fotos-container > li.card > button.favorite-heart {
    opacity: 1;
  }
}
body div#root > div.main > ul.fotos-container > li.card > button.favorite-heart > svg {
  width: 2.5em;
  height: auto;
}
body div#root > div.main > ul.fotos-container > li.card:hover > button.favorite-heart, body div#root > div.main > ul.fotos-container > li.card:hover.active {
  opacity: 1;
  transform: scale(1.1);
}
body div#root > div.main > ul.fotos-container > div.exploreMore-card {
  position: relative;
  max-width: 18em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
body div#root > div.main > ul.fotos-container > div.exploreMore-card > img {
  max-width: 100%;
  height: auto;
  border-radius: 4em;
}
body div#root > div.main > ul.fotos-container > div.exploreMore-card > span {
  font-size: 0.5em;
  opacity: 0;
  position: absolute;
  top: 50%;
  color: #cdcbcb;
  background-color: rgba(255, 86, 34, 0.65);
  border-radius: 0.5em;
  padding: 0.25em;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  body div#root > div.main > ul.fotos-container > div.exploreMore-card > span {
    font-size: 1.4em;
    opacity: 1;
    transform: translateY(2.5em);
  }
}
body div#root > div.main > ul.fotos-container > div.exploreMore-card:hover {
  scale: 1.1;
}
body div#root > div.main > ul.fotos-container > div.exploreMore-card:hover > span {
  font-size: 1.4em;
  opacity: 1;
  transform: translateY(2.5em);
}
body div#root > div.main > div.no-favorites {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: #cdcbcb;
}
body div#root > div.main > div.no-favorites > h2 {
  font-size: 2em;
  margin-bottom: 2em;
}
body div#root > div.main > div.no-favorites > h2 > span {
  color: #ff5722;
}
body div#root > div.main > div.no-favorites > div.exploreMore-card {
  position: relative;
  max-width: 18em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
body div#root > div.main > div.no-favorites > div.exploreMore-card > img {
  max-width: 100%;
  height: auto;
  border-radius: 4em;
}
body div#root > div.main > div.no-favorites > div.exploreMore-card > span {
  cursor: pointer;
  font-size: 0.5em;
  opacity: 0;
  position: absolute;
  top: 50%;
  color: #cdcbcb;
  background-color: rgba(255, 86, 34, 0.65);
  border-radius: 0.5em;
  padding: 0.25em;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  body div#root > div.main > div.no-favorites > div.exploreMore-card > span {
    font-size: 1.4em;
    opacity: 1;
    transform: translateY(2.5em);
  }
}
body div#root > div.main > div.no-favorites > div.exploreMore-card:hover {
  scale: 1.1;
}
body div#root > div.main > div.no-favorites > div.exploreMore-card:hover > span {
  font-size: 1.4em;
  opacity: 1;
  transform: translateY(2.5em);
  user-select: none;
}
body div#root > div.main > div.no-favorites > div.exploreMore-card:hover > span:hover {
  scale: 1.1;
}
body div#root > div.main > div.modal {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease;
}
body div#root > div.main > div.modal:active {
  opacity: 1;
}
body div#root > div.main > div.modal > div.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
body div#root > div.main > div.modal > div.modal-content > h2 {
  color: #000;
}
body div#root > div.main > div.modal > div.modal-content > p {
  color: #333;
}
body div#root > div.main > div.modal > div.modal-content > img {
  width: 100%;
  height: auto;
}
body div#root > div.main > div.modal > div.modal-content > span.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
body div#root > div.main > div.modal > div.modal-content > span.close:hover, body div#root > div.main > div.modal > div.modal-content > span.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
body div#root > div.main > button {
  bottom: 0;
  margin-top: 0.7rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
  letter-spacing: 0.02em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #001d21;
  opacity: 0.6;
  border-radius: 0.5rem;
  padding: 0.7rem 2.5rem;
  transition: all 300ms ease;
}
body div#root > div.main > button:hover {
  opacity: 1;
  scale: 1.1;
}

/*# sourceMappingURL=App.css.map */
